* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: serif;
  background-color: grey;
}
.page {
  background-color: aqua;
}

#navbar {
  color: orange;
  list-style: none;
  text-align: center;
  padding: 15px 0 15px 0;
}
#navbar > li > a:hover {
    color: red;
}
#navbar > li {
  display: inline-block;
  padding-right:50px;
}

#navbar > li > a {
  text-decoration: none;
}
#navbar a:hover {
  color: magenta;
  font-size: 150%;
  font-family: monospace;
}
  section ul li:nth-child(odd) {color: orange;}
    .project p:hover {
    background: yellow;
    transition: width 5s, height 5s,
    background-color 5s, transform 2s;
  }
  .schools ul li:hover {
    background: orange;
    transition: width 5s, height 5s,
    background-color 5s, transform 2s;
  }
h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
h4 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.fa-linkedin-in {
  width: 30px;
}
p {
    color: purple;
    line-height: 1.5em;
    font-family: 'Caveat', cursive;
  }
ul {
    line-height: 1.5em;
    font-weight: bold;
  }
body {
    background-color: white;
  }
.purple-text {
  color: purple;
  text-align: left;
  }
.important {
  font-weight: bold;
  }
.comm-lead {
  color: orange;
}
#lead-paragraph {
  color: orange;
  font-weight: bold;
}

.important:hover {
  background-color: orange;
}
p.important {
  width: 75%;
}
img {
    border-style: solid;
    border-color: orange;
    border-width: 3px;
    width: 90%;
}
.box {
  width: 90%;
  border: 5px solid purple;
  background: aqua;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.foot {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
