.headers {
  height: 2rem;
  background-color: pink;
  padding: .5rem;
  border-width: 2px;
  border: 4px solid green;
}
.navbar {
  height: 2rem;
  padding: .5rem;
  border-width: 2px;
  border: 4px solid green;
}
